/************************ General ************************/
:root {
  --colour-main-blue: #008CBA;
  --colour-dark-blue: #222D54;
  --colour-light-blue: #1847ED;
  --colour-logo-orange: #ff9400;
  --colour-main-orange: #ED4618;
  --colour-dark-orange: #C36631;
  --dark: #222D54;
  --blue:#007bff;
  --indigo:#6610f2;
  --purple:#6f42c1;
  --pink:#e83e8c;
  --red:#dc3545;
  --orange:#fd7e14;
  --yellow:#ffc107;
  --green:#28a745;
  --teal:#20c997;
  --cyan:#17a2b8;
  --white:#fff;
  --gray:#6c757d;
  --gray-dark:#343a40;
  --primary:#007bff;
  --secondary:#6c757d;
  --success:#28a745;
  --info:#17a2b8;
  --warning:#ffc107;
  --danger:#dc3545;
  --light:#f8f9fa;
  --dark:#343a40;
  --checkerboard-grey:#a5a5a5;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.brand {
  font-family: monospace;
  font-size: 140%;
  color: var(--colour-main-blue);
}
.orange {
  color: var(--colour-logo-orange);

}
.container-fluid {
  margin: 20px 0 80px 0;
}

.button {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--colour-dark-blue);
}
.btn-outline-primary {
  border-color: var(--colour-main-blue);
}

.btn-outline-primary:hover {
  background-color: rgb(151, 229, 255);
  border-color: var(--colour-main-blue);
  color: var(--colour-dark-blue);
}
.btn-outline-primary:active {
  background-color: rgb(79, 211, 255)!important;
  border-color: var(--colour-main-blue);
}
