/************************ Advanced Form Group ************************/
#advanced-card {
  margin-bottom: 1.25rem;
  margin: 0;
  background-color: white;
  border: 0;
}

#advanced-card > div.card-header.button {
  background-color: transparent;
}

#advanced-card > div.card-body.collapse > div:nth-child(1) {
  margin-top: 1px;
  padding-top: 10px;
}
.form-group {
  transition: all cubic-bezier(.5, .3, .2, 1) .2s;
}

.collapse[aria-hidden=true] > .form-group {
  margin-bottom: 0;
}

.collapse {
  display: initial!important;
  max-height: 0;
  overflow: hidden;
  padding: 0!important;
  transition: all cubic-bezier(.5, .3, .2, 1) .2s;
}

.collapse[aria-hidden=false] {
  max-height: 311px;
  margin-top: 19px;
}

.advancedColapsed, .advancedExpanded {
  display: inline-block;
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  transition: all cubic-bezier(.5, .3, .2, 1) .2s;
}

.advancedColapsed.rtl, .advancedExpanded.rtl {
  right: 0;
}

.advancedColapsed[aria-hidden=false], .advancedExpanded[aria-hidden=false] {
  opacity: 1;
}

.advancedColapsed[aria-hidden=true], .advancedExpanded[aria-hidden=true] {
  opacity: 0;
}
