/************************ Form Group ************************/
.col-form-input {
  padding-right: 25px!important;
}

.validation-feedback {
  min-height: 19px;
}
.is-invalid~.validation-feedback > .invalid-feedback {
  margin-top: 0;
  display: block!important;
}
