/************************ Language selector ************************/
/* Button */
#language-selector {
  height: 28px;
  margin-top: 6px;
  padding: 0 10px;
  background-color: var(--colour-main-blue);
}
#language-selector::after {
  vertical-align: 0.455em;
}
#language-selector .language-selector-icon {
  font-size: 27px;
  line-height: 1;
}
#language-selector .language-selector-text {
  padding: 0 5px;
  vertical-align: text-bottom;
  bottom: 3px;
  position: relative;
}

/* Menu */
.dropdown-menu {
  width: 200px;
  left: -70px;
  max-height: 0;
  top: 45px;
  padding: 0!important;
  display: block!important;
  width: 295px!important;
  background: var(--colour-dark-blue)!important;
  border: none!important;
  overflow: hidden;
  transition: max-height cubic-bezier(.5, .3, .2, 1) .2s;
}

.dropdown-menu[aria-hidden=false] {
  max-height: calc(18 * 40px + 5px);
}
.dropdown-menu.ltr {
  left: unset!important;
  right: -26px!important;
  border-radius: 0 0 0 15px!important;
}

.dropdown-menu.rtl {
  right: unset!important;
  left: -16px!important;
  border-radius: 0 0 15px 0!important;
}

.language-selection {
  padding: 0 10px;
}

.language-selection:nth-child(1) {
  margin-top: 5px;
}

.language-selection.active {
  background-color: var(--colour-light-blue);
  color: white;
}

.language-selection:hover {
  background-color: var(--colour-main-blue);
}

.language-selection-link {
  text-decoration: none!important;
  color: var(--colour-main-blue);
  display: block;
  clear: both;
  line-height: 40px;
  transition: all cubic-bezier(.5, .3, .2, 1) .2s;
}

.dropdown-menu[aria-hidden=true] > li > .language-selection-link {
  line-height: 10px;
}

.language-selection.active .language-selection-content{
  color: white;
}

.language-selection.active a div, .language-selection-link:hover {
  color: var(--colour-dark-blue);
}

.language {
  display: inline-block;
  text-align: left;
}

.language-icon {
  display: initial;
  height: 28px;
  vertical-align: sub;
}
