@media (max-width: 1200px) {
  #lng-button > span.MuiButton-endIcon {
    margin: 0;
    font-size: 20px;
  }
  #lng-button-text {
    display: none!important;
  }
  
}

.lng-item {
  text-align: center;
  width: 100%;
}

.lng-item-selected {
  background: rebeccapurple!important;
}
