@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,500&family=Fredoka&display=swap');

body {
  margin: 0!important;
  font-family: 'Fredoka', 'Roboto', sans-serif!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}

.brand, .orange {
  font-family: 'DM Mono', monospace;
  font-weight: 500;
  font-style: italic;
}

.brand {
  color: #6C1DDB;
}
.orange {
  color: #FF9500;
}